<!DOCTYPE html>
<html lang="en">
<% if(csrfToken) { %>
    <meta name="csrf-token" content="<%= csrfToken %>">
<% } %>
<%- include('templates/header'); %>

<body>
  <div class="container-scroller">
  <%- include('templates/navbar') %>
    <div class="container-fluid page-body-wrapper">
      <%- include('templates/sidebar') %>
      <%- body %>
      
    </div>
  </div>
  <%- include('templates/plugins') %>
</body>

</html>